
<div class="topnav">
  <a class="active" href="/postwall">PostWall</a>
 <a href="/userprofile">Profile</a>
  <form action="post">
    
    <input type="submit" value="Submit">
  </form>
</div>  
                                                                                                                                                                                                                                                             